// Styles just for testing purposes. This files should be deleted before uploading to a live server

html
  lost-utility edit
body
  > section
    lost-column 3/4 4
  > aside
    lost-column 1/4 4

footer
  lost-column 1/1 0
img
  max-width 100%

p
  padding 4rem 0
  // color var(--mainColor)

.waffle
  height 100% 
  div
    lost-waffle 1/3 
    height 50px


// @lost flexbox flex

.flextest
  lost-center 980px
  div
    lost-waffle 1/3
